apiVersion: apps/v1
kind: Deployment
metadata:
  name: app2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app2
  template:
    metadata:
      labels:
        app: app2
    spec:
      containers:
      - name: app2
        image: 131127508996.dkr.ecr.ap-south-2.amazonaws.com/app2:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: app2
spec:
  type: LoadBalancer
  selector:
    app: app2
  ports:
  - port: 80
    targetPort: 80
